<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProyectoBaseD.Properties.Settings.proyectobaseConnectionString"
            connectionString="LAPTOP-MUS3J725;Initial Catalog=CajeroAutomatico1;User ID=andrea;Password=andrea"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>